{% extends 'web/base.html' %}


{% block title %}About Jeopractice{% endblock %}


{% block content %}
<div class="white md-col-9">
    <div class="h3 caps mb3">About Jeopractice</div>
    <p class="h3">
        This is Jeopractice! It's is the best way to sharpen your Jeopardy! skills. 
        We have over 200,000 clues from over 3,000 shows over the last 30 years. 
        Every time you arrive to Jeopractice, a random game begins. Use the arrow keys to 
        navigate to different questions and categories, and the spacebar to reveal the answers.
    </p>
    <p>
        Jeopractice was made by <a class="yellow" href="https://twitter.com/brensudol" target="blank">Brendan Sudol</a> in the hopes of one day becoming a worthy Jeopardy! adversary 
        for his wife. This website is not affiliated with, sponsored by, or operated by Jeopardy Productions, Inc. 
    </p>
</div>
{% endblock %}
