<!DOCTYPE html>
<html lang="en" data-csrf="{{ csrf_token }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>{% block title %}Jeopractice{% endblock %}</title>

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="/static/build/app.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <script>window.Jeo=window.Jeo||{};</script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="clearfix mb2 bg-darken-2">
      <div class="left">
        <a href="/" class="btn yellow bold caps py2 h3">Jeopractice</a>
      </div>
      {% if show %}
      <div class="right">
        <a href="/" class="mt1 mb1 mr1 btn btn-primary yellow" id="show-num" data-id="{{ show }}">
          #{{ show }}
        </a>
        <a href="/" class="mt1 mb1 mr1 btn btn-primary yellow" data-toggle="tooltip" data-placement="bottom" title="Start a new & random game">
          <svg class="icon ico-yellow" viewBox="0 0 32 32">
            <path d="M16 2 A14 14 0 0 0 2 16 A14 14 0 0 0 16 30 A14 14 0 0 0 26 26 L 23.25 23 A10 10 0 0 1 16 26 A10 10 0 0 1 6 16 A10 10 0 0 1 16 6 A10 10 0 0 1 23.25 9 L19 13 L30 13 L30 2 L26 6 A14 14 0 0 0 16 2"></path>
          </svg>
        </a>
      </div>
      {% endif %}
    </nav>
    <div class="container px1 py3">
      {% block content %}{% endblock %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-37353161-10', 'auto');
        ga('send', 'pageview');
      </script>
      {% block jsconfig %}{% endblock %}
      {% block footerjs %}{% endblock %}
    </div>
  </body>
</html>
