html {
    font-size: $base-font-size;
}

body {
    background-color: $jeopardy-blue;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-family;
}

.container {
    max-width: 44em;
}
