.icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: .1875em;
}

.icon-button {
    width: 2.5rem;
    padding-left: 0;
    padding-right: 0;
}

.keyboard-key {
    margin-left: 4px;
    padding: 0 5px;
    line-height: 18px;
    font-size: 10px;
    vertical-align: text-bottom;
    background: #ebebeb;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px #dbdbdb;
    color: #444;
    display: inline-block;
    font-family: Courier,
    monospace;
    text-align: center;
}

.question a {
    color: #fff;
    text-decoration: underline;
}