.icon-button {
    width: 2.5rem;
    padding-left: 0;
    padding-right: 0;
}

.icon-button:disabled,
.icon-button.is-disabled {
  opacity: .5;
}

.icon {
    width: 0.85rem;
    height: 0.85rem;
    position: relative;
    top: .1em;
}

.ico-yellow {
    fill: $yellow;
}